<%-include("partials/header") -%>

<h1>Home</h1>
<p><%=home%></p>
<center><h2>Recent Posts</h2></center>
<hr style="height:2px;border-width:0;width:50%;color:gray;background-color:gray">

  <% allUser.forEach(function(blog) { %>

    <% blog.article.forEach(function(ele){ %>

        <div class="card">
          <h3><%=ele.title%></h3>
          <p><%=ele.post.substring(0,100) + " ..."%>
            <a href="/posts/<%=ele.id%>">Read More</a>
          </p>
        </div>

    <%})%>

  <%})%>


<%-include("partials/footer") -%>
